@{
    ViewBag.Title = "Employees";
}
@using EnteringProjectData.Data.Repository
@model EmployeeRepository
<form>
    <label>Выберите сотрудника:</label>
    <select name="employeeID">
        @foreach (var comp in Model.Employees)
        {
            <option value="@comp.EmployeeID">@comp.Email</option>
        }
    </select>
    <input class="btn btn-danger" type="submit" value="Change" />
</form>
<table class="table">
    <tr><td>FirstName</td><td>SecondName</td><td>Patronymic</td><td>Email</td><td>Project</td></tr>
    @foreach (var emp in Model.Employees)
    {
        <tr>
            <td>@emp.FirstName</td>
            <td>@emp.SecondName</td>
            <td>@emp.Patronymic</td>
            <td>@emp.Email</td>
            <td>
                @if (emp.Project != null)
                {
                    @emp.Project.ProjectName
                }
            </td>
        </tr>
    }
</table>
@section Footer {
           Copyright© Eliseev Maksim, @DateTime.Now.Year. All rights reserved
}