@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/Layout.cshtml";
}
@using EnteringProjectData.ViewModels
@model IndexViewModel

<h3>Index Content</h3>
<form>
    <label>Выберите проект:</label>
    <select name="projectID">
        @foreach (Project comp in Model.Projects)
        {
            <option value="@comp.ProjectId">@comp.ProjectName</option>
        }
    </select>
    <input type="submit" />
</form>
<br />
<h3>Projects Data:</h3>
<table class="table">
    <tr><td>ProjectName</td><td>Customer</td><td>Executor</td><td>StartDate</td><td>EndDate</td><td>Priority</td></tr>
@foreach (var emp in Model.Projects)
{
    <tr>
        <td>@emp.ProjectName</td>
        <td>@emp.CustomerCompanyName</td>
        <td>@emp.ExecutingCompanyName</td>
        <td>@emp.StartDate.ToShortDateString()</td>
        <td>@emp.EndDate.ToShortDateString()</td>
        <td>@emp.Priority</td>
    </tr>
}
</table>
<h3>Eployees:</h3>
<table class="table">
    <tr><td>Фамилия</td><td>Имя</td><td>Отчество</td></tr>
    @foreach (var emp in Model.Employees)
    {
        <tr><td>@emp.SecondName</td><td>@emp.FirstName</td><td>@emp.Patronymic</td></tr>
    }
</table>
@{
    await Html.RenderPartialAsync("Hello", new List<string> { "Hello", "Привет", "Hallo", "Salut" });
}

@section Footer {
       Copyright© Eliseev Maksim, @DateTime.Now.Year. All rights reserved
}