@{
    ViewBag.Title = "Main";
    //Layout = "~/Views/Shared/Layout.cshtml";
}
@using EnteringProjectData.Data.Repository
@model ProjectRepository
<form>
    <label>Выберите проект:</label>
    <select name="projectID">
        @foreach (EnteringProjectData.Data.Models.Project comp in Model.Projects)
        {
            <option value="@comp.ProjectId">@comp.ProjectName</option>
        }
    </select>
    <input class="btn btn-danger" type="submit" value="Change"/>
</form>
<br/>
<h3>Projects Data:</h3>
<table class="table">
    <tr><td>ProjectName</td><td>Customer</td><td>Executor</td><td>StartDate</td><td>EndDate</td><td>Priority</td><td>Employees</td></tr>
@foreach (var p in Model.Projects)
{
    <tr>
        <td>@p.ProjectName</td>
        <td>@p.CustomerCompanyName</td>
        <td>@p.ExecutingCompanyName</td>
        <td>@p.StartDate.ToShortDateString()</td>
        <td>@p.EndDate.ToShortDateString()</td>
        <td>@p.Priority</td>
            <td>
                @if(p.Employees != null)
                @foreach (var employee in p.Employees)
                {@employee.FirstName @employee.SecondName}
            </td>
    </tr>
}
</table>
@section Footer {
       Copyright© Eliseev Maksim, @DateTime.Now.Year. All rights reserved
}