@{
    ViewBag.Title = "Main";
}

@using EnteringProjectData.Data.ViewModels
@model IndexViewModel

<form asp-action="Main" class="container mt-4">
    <form>
        <div class="form-group">
            <label for="projectSelect">Select project:</label>
            <select class="form-control" id="projectSelect" name="projectID">
                @foreach (var comp in Model.Projects)
                {
                    <option value="@comp.ProjectId">@comp.ProjectName</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Change</button>
    </form>

    <h3 class="mt-4">Projects data:</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Project name</th>
                <th>Customer</th>
                <th>Executor</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Priority</th>
                <th>Employees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Projects)
            {
                <tr>
                    <td>@p.ProjectName</td>
                    <td>@p.CustomerCompanyName</td>
                    <td>@p.ExecutingCompanyName</td>
                    <td>@p.StartDate.ToShortDateString()</td>
                    <td>@p.EndDate.ToShortDateString()</td>
                    <td>@p.Priority</td>
                    <td>
                        @{
                            var v = Model.EmployeeProject.Where(x => x.ProjectId == p.ProjectId);
                            @if (v != null)
                            {
                                foreach (var employee in v)
                                {
                                    <text>@employee.Employee.FirstName @employee.Employee.SecondName</text>
                                    <br />
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Footer {
    <footer class="footer mt-auto py-3">
        <div>
            <span class="text-muted">Copyright© Eliseev Maksim, @DateTime.Now.Year. All rights reserved</span>
        </div>
    </footer>
}
